.dashboardBody {
    height: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
    border: 2px solid ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dashboardBody::-webkit-scrollbar {
    display: none;
    overflow: scroll;
}
.leftpane{
    height: 100%;
    width: 25%;
    border: 2px solid red;
}
.middlepane {
    height: 100%;
    width: 50%;
    border: 2px solid green;
}
.rightpane {
    height: 100%;
    width: 25%;
    border: 2px solid blue;
}